<!DOCTYPE html>
<html>
<head>
<title>LAYOUT</title>
<style>
body {
  font-family: Arial;
}
h3{
text-align:center;
background-color:black;
color:white;
margin-top: 3px;
height: 50px;
padding-top: 30px;
}
.HeaderAndFooter {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 26px;
}
.content{
padding:20px; 
text-align:center;
}
</style>
</head>
<body>
<div>
<div class="HeaderAndFooter">
  <h1>Header</h1>
</div>
<div>
<h3>Navigation Bar</h3>
</div>
<div class="content">
  <h1>Content</h1>
  <p>Some content Some content Some content .</p>
  <p>Some content Some content Some content .</p>
  <p>Some content Some content Some content .</p>
  <p>Some content Some content Some content .</p>
</div>
<div class="header_and_footer">
  <h1>Footer</h1>
</div>
</div>
</body>
</html>
